.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  grid-area: header;
  background-color: #404040;
  padding: 20px;
  color: #9a9a9a;
  h1 {
    color: white;
  }
}
.main {
  grid-area: main;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
}
.footer {
  padding: 20px;
  grid-area: footer;
  background-color: #404040;
  color: #9a9a9a;
  align-self: end;
}

.body {
  display: grid;
  grid-template-columns: 1fr 20% 40% 3fr;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: center;
  grid-template-areas:
    "header header header header"
    ". sidebar main ."
    "footer footer footer footer";
}

.main-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "tabvar"
    "content"
    "actions";
}

.tabvar {
  grid-area: tabvar;
}
.content {
  grid-area: content;
  justify-self: stretch;
}
.actions {
  grid-area: actions;
  justify-self: right;
}

.chat-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "chat chat chat"
    "settings settings settings"
    "actions actions actions"
    "input input input"
    "buttons buttons buttons"
    ;
}

.chat {
  grid-area: chat;
}
.input {
  grid-area: input;
  justify-self: stretch;
}
.settings {
  grid-area: settings;
  justify-self: stretch;
}
.buttons {
  grid-area: buttons;
}
.actions {
  justify-self: right;
  grid-area: actions;
}
